@model EditarProdutoViewModel
@*<div asp-validation-summary="All" class="text-danger"></div>*@
<form asp-action="CriarProduto" method="post">
    <input type="hidden" asp-for="Produto.ProdutoId" />
    <div class="form-group">
        <label>Nome</label>
        <div><span asp-validation-for="Produto.Nome" class="text-danger"></span></div>
        <input asp-for="Produto.Nome" class="form-control" />
    </div>
    <div class="form-group">
        <label>Descrição</label>
        <div><span asp-validation-for="Produto.Descricao" class="text-danger"></span></div>
        <textarea asp-for="Produto.Descricao" class="form-control"></textarea>
    </div>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="form-group col-6 col-sm-3">
                <label asp-for="Produto.Categoria">Categoria</label>
                <div><span asp-validation-for="Produto.Categoria" class="text-danger"></span></div>
                <div>
                    <select asp-for="Produto.Categoria" asp-items="@(new SelectList(Model.Categorias))" class="combobox input-large form-control categoria"></select>
                </div>
            </div>
            <div class="form-group col-6 col-sm-3">
                <div class="input-group">
                    <input id="txt_nova_categoria" type="text" class="form-control" placeholder="Criar nova categoria" aria-label="Criar nova categoria">
                    <span class="input-group-btn">
                        <button id="btn_criar_nova_categoria" class="btn btn-secondary" type="button">Criar</button>
                    </span>
                </div>
            </div>
            <div class="form-group col-6 col-sm-3">
                <label asp-for="Produto.Fabricante">Fabricante</label>
                <div><span asp-validation-for="Produto.Fabricante" class="text-danger"></span></div>
                <div>
                    <select asp-for="Produto.Fabricante" asp-items="@(new SelectList(Model.Fabricantes))" class="combobox input-large form-control fabricante"></select>
                </div>
            </div>
            <div class="form-group col-6 col-sm-3">
                <div class="input-group">
                    <input id="txt_novo_fabricante" type="text" class="form-control" placeholder="Criar novo fabricante" aria-label="Criar novo fabricante">
                    <span class="input-group-btn">
                        <button id="btn_criar_novo_fabricante" class="btn btn-secondary" type="button">Criar</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Imagem.Nome">Nome da Imagem</label>
        <div><span asp-validation-for="Imagem.Nome" class="text-danger"></span></div>
        <input asp-for="Imagem.Nome" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Imagem.Link">Link da imagem</label>
        <div><span asp-validation-for="Imagem.Link" class="text-danger"></span></div>
        <input asp-for="Imagem.Link" class="form-control" />
        <input type="hidden" asp-for="Imagem.ProdutoId" value="@Model?.Produto?.ProdutoId" />
    </div>
    <div class="form-group">
        <label>Preço</label>
        <div><span asp-validation-for="Produto.Preco" class="text-danger"></span></div>
        <input asp-for="Produto.Preco" class="form-control" />
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Salvar</button>
        <a asp-action="Listar" class="btn btn-default">Cancelar</a>
    </div>
</form>

@if (Model?.Imagens.Count() > 0)
{
    <div>
        @foreach (Imagem imagem in Model.Imagens)
        {
            <div>
                <img  src="@imagem.Link" alt="@imagem.Nome" id="@imagem.ImagemId" width="80" style="float:left; margin: 4px;" />
                <a asp-route-returnurl="@ViewData["ReturnUrl"]" class="btn btn-danger" asp-action="ApagarImagem" asp-controller="Admin" asp-route-id="@imagem.ImagemId" asp-route-url="@ViewContext.HttpContext.Request.PathAndQuery()">Apagar</a>
            </div>
        }
    </div>
}
<script>
    document.getElementById("btn_criar_nova_categoria").addEventListener("click", adicionar);
    var txt_nova_categoria = document.getElementById("txt_nova_categoria");
    var txt_novo_fabricante = document.getElementById("txt_novo_fabricante");
    var produto_categoria = document.getElementById("Produto_Categoria");
    var btn_criar_novo_fabricante = document.getElementById("btn_criar_novo_fabricante").addEventListener("click", adicionar)
    var produto_fabricante = document.getElementById("Produto_Fabricante");


    function adicionar() {
        var btn = this.id === "btn_criar_nova_categoria";
        if (btn) {
            if (txt_nova_categoria.value == "") {
                return;
            }
            var option = document.createElement("option");
            option.textContent = txt_nova_categoria.value;
            produto_categoria.appendChild(option);
            txt_nova_categoria.value = "";
        } else {
            if (txt_novo_fabricante.value == "") {
                return;
            }
            var option = document.createElement("option");
            option.textContent = txt_novo_fabricante.value;
            produto_fabricante.appendChild(option);
            txt_novo_fabricante.value = "";
        }
    }
</script>
