@model avaliacao
<div>
    @Model.UsuarioID
</div>
<div>
    @Model.Texto
</div>
<div>
    @Model.AvaliacaoID
</div>
<div>
    @Model.NomeUsuario
</div>
<div>
    @Model.Estrela
</div>
<div>
    @Model.Aprovado
</div>







