@model Comentario
<div>
    @Model.UsuarioID
</div>
<div>
    @Model.Texto
</div>
<div>
    @Model.ComentarioID
</div>
<div>
    @Model.NomeUsuario
</div>
<div>
    @Model.Estrela
</div>
<div>
    @Model.Aprovado
</div>







