@model NaoEnvidoViewModel
@{
    Layout = "_GerenciamentoLayout";
}
<div class="row text-center" page-model="@Model.PagingInfo" page-action="PedidosNaoEnviados" page-classes-enabled="true" page-class="btn btn-xs" page-class-normal="btn-default" page-class-selected="btn-primary"></div>
@foreach (Pedido pedido in Model.Pedidos)
{
    <div class="row">
        <div class="col-4 col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    Endereço
                </div>
                <div class="panel-footer">
                    <b>Pedido Id: </b>@pedido.PedidoID<br>
                    <b>Rua: </b>@pedido.Endereco.Rua<br>
                    <b>Número: </b>@pedido.Endereco.Numero<br>
                    <b>Bairro: </b>@pedido.Endereco.Bairro<br>
                    <b>Cidade: </b>@pedido.Endereco.Cidade<br>
                    <b>Estado: </b>@pedido.Endereco.Estado<br>
                    <b>CEP: </b>@pedido.Endereco.CEP<br>
                </div>
            </div>
        </div>
        <div class="col-8 col-md-8 thumbnail">
            <table class="table">
                <tr class="active">
                    <th></th>
                    <th></th>
                    <th>Nome</th>
                    <th>Fabricante</th>
                    <th>Categoria</th>
                    <th>Quantidade</th>
                    <th>Preço</th>
                </tr>
                @foreach (var item in pedido.Lines)
                {
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            @item.Produto.Nome
                        </td>
                        <td>
                            <a asp-action="BuscarFabricante" asp-controller="Produtos" asp-route-fabricante="@item.Produto.Fabricante">
                                @item.Produto.Fabricante
                            </a>
                        </td>
                        <td>
                            <a asp-action="Listar" asp-controller="Produtos" asp-route-categoria="@item.Produto.Categoria">
                                @item.Produto.Categoria
                            </a>
                        </td>
                        <td>
                            @item.Quantidade
                        </td>
                        <td>
                            @item.Produto.Preco.ToString("c")
                        </td>
                    </tr>
                }
                <tr>
                    <td colspan="5"></td>
                    <td>Total</td>
                    <td>@pedido.Pagamento.Valor.ToString("c")
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <a asp-action="MarcarEnviado"
           asp-controller="Pedido"
           asp-route-produtoID="@pedido.PedidoID"
           class="btn btn-info">Enviado</a>
    </div>
}
