@model IEnumerable<Avaliacao>
@{ 
    Layout = "_GerenciamentoLayout";
}
@if (TempData["massage"] != null)
{
    <div class="alert alert-success">@TempData["massage"]</div>
    TempData["massage"] = null;
}
<a asp-action="ValidarAvaliacoes" asp-route-aprovado="true">Exibir aprovados</a>
<br>
<a asp-action="ValidarAvaliacoes">Exibir ainda não aprovados</a>
@if (Model.Count() == 0)
{
    <div>Todos os comentários foram validados</div>
}
else
{
    @foreach (Avaliacao c in Model)
    {
        <h1>Avaliação cod. @c.AvaliacaoID</h1>
        <div>
            <i class="material-icons data-avaliacao">today</i>@String.Format("{0:MM/dd/yyyy}", c.Data)
        </div>
        <div>
            @c.AvaliacaoID
        </div>
        <div>
            <i class="material-icons data-avaliacao">account_box</i>@c.NomeUsuario
        </div>
        <div>
            @c.AvaliacaoID
        </div>
        <div>
            <i class="material-icons data-avaliacao">message</i>@c.Texto
        </div>
        <div>
            @c.UsuarioID
        </div>
        <a class="btn btn-primary" asp-action="DetalhesComentario" asp-route-avaliacaoID="@c.AvaliacaoID">Detalhes</a>
        <a class="btn btn-danger" asp-action="RemoverAvaliacao" asp-route-avaliacaoID="@c.AvaliacaoID">Remover comentário</a>
        <a class="btn btn-success" asp-action="AprovarAvaliacao" asp-route-avaliacaoID="@c.AvaliacaoID">Aprovar comentário</a>
        @foreach (Avaliacao r in c.Respostas)
        {
            <h2>Resposta cod. @r.AvaliacaoID</h2>
            <div>
                <i class="material-icons data-avaliacao">today</i>@String.Format("{0:MM/dd/yyyy}", r.Data)
            </div>
            <div>
                @r.AvaliacaoID
            </div>
            <div>
                <i class="material-icons data-avaliacao">account_box</i>@r.NomeUsuario
            </div>
            <div>
                @r.AvaliacaoID
            </div>
            <div>
                <i class="material-icons data-avaliacao">message</i>@r.Texto
            </div>
            <div>
                @r.UsuarioID
            </div>
            <a class="btn btn-primary" asp-action="DetalhesComentario" asp-route-avaliacaoID="@r.AvaliacaoID">Detalhes</a>
            <a class="btn btn-danger" asp-action="RemoverAvaliacao" asp-route-avaliacaoID="@r.AvaliacaoID">Remover comentário</a>
            <a class="btn btn-success" asp-action="AprovarAvaliacao" asp-route-avaliacaoID="@r.AvaliacaoID">Aprovar comentário</a>
        }
    }
}
