@model DetalheProdutoViewModels
<div class="row">
   @Html.Partial("_SliderImagensPartial", Model.Imagens)
</div>
<div class="row">
    @foreach (var comentario in Model.Comentarios)
    {
        <div>@comentario.NomeUsuario</div>
        <div>@comentario.Texto</div>
        <form class="form-group" asp-action="Responder" asp-controller="Comentarios" asp-route-comentarioid="@comentario.ComentarioId">
            <label asp-for="@Model.Resposta.Assunto"></label>
            <input asp-for="@Model.Resposta.Assunto" />
            <label>Texto</label>
            <input asp-for="@Model.Resposta.Texto" />
            <button type="submit" class="btn btn-success btn-sm">Responder</button>
            <input type="hidden" asp-for="@Model.Resposta.ProdutoId" value="@Model.Produto.ProdutoId" />
        </form>
        if (comentario.Respostas != null)
        {
            @foreach (var resposta in comentario.Respostas)
            {
                <div>@resposta.NomeUsuario</div>
                <div>@resposta.Texto</div>
            }
        }

    }
</div>
<div class="row">
    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal" data-whatever="@@mdo">Comentar</button>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <form asp-action="Comentar" asp-controller="Comentarios">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">Novo comentário</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label asp-for="Comentario.Assunto" class="control-label">Assunto:</label>
                            <input asp-for="Comentario.Assunto" type="text" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Comentario.Texto" class="control-label">Mensagem:</label>
                            <textarea class="form-control" asp-for="Comentario.Texto"></textarea>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-default btn-sm">Enviar comentário</button>
                        <input type="hidden" value="@Model.Produto.ProdutoId" asp-for="Comentario.ProdutoId" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

