@model StoreEP.Models.Produto

@{
    ViewData["Title"] = "Details";
}

<h2>Detalhes</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nome do produto:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomePD)
        </dd>
        <dt>
            Categoria:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CategoriaPD)
        </dd>
        <dt>
            Preço:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PrecoPD)
        </dd>
        <dt>
            Descricação:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DescricaoPD)
        </dd>
        <dt>
            Link da imagem:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LinkImagemPD)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProdutoID">Editar</a> |
    <a asp-action="Index">Voltar a lista</a>
</div>
