@model IEnumerable<StoreEP.Models.Produto>

@{
    ViewData["Title"] = "Index";
}

<h2>Lista de produtos</h2>

<p>
    <a asp-action="Create">Criar novo produto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nome do produto
            </th>
            <th>
                Categoria
            </th>
            <th>
                Preço
            </th>
            <th>
                Descrição
            </th>
            <th>
                Link da imagem
            </th>
            <th>
                Preview
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomePD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoriaPD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecoPD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescricaoPD)
            </td>
            <td>
               <img src="@Html.DisplayFor(modelItem => item.LinkImagemPD)" height="100" width="100" />
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProdutoID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProdutoID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProdutoID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
