@using StoreEP.Models.ViewModels
@model CartIndexViewModel
<h2>Seu carrinho</h2>
<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
    <thead>
        <tr>
            <th class="mdl-data-table__cell--non-numeric">Quantidade</th>
            <th>Item</th>
            <th class="text-right">Preço</th>
            <th class="text-right">Subtotal</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Carrinho.Lines)
        {
        <tr>
            <td class="mdl-data-table__cell--non-numeric">@line.Quantidade</td>
            <td class="text-left">@line.Produto.Nome</td>
            <td class="text-right">@line.Produto.Preco.ToString("c")</td>
            <td class="text-right">@((line.Quantidade * line.Produto.Preco).ToString("c"))</td>
            <td>
                <form asp-action="RemoverCarrinho" method="post">
                    <input type="hidden" name="ID" value="@line.Produto.ProdutoId" />
                    <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
                    <button type="submit" class="mdl-button mdl-js-button mdl-button--icon">
                        <i class="material-icons">remove_shopping_cart</i>
                    </button>
                </form>
            </td>
        </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total:</td>
            <td class="text-right">
                @Model.Carrinho.ValorTotal().ToString("c")
            </td>
        </tr>
    </tfoot>
</table>
<div class="text-center">
    <a class="mdl-button mdl-js-button mdl-button--primary" href="@Model.ReturnUrl">Continue comprando</a>
    <a class="mdl-button mdl-js-button mdl-button--accent" asp-action="Finalizar" asp-controller="Pedido">Finalizar</a>
</div>
