@model Address
<div class="demo-card-event mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title mdl-card--expand">
        <h4>
           @Model.Line1<br>
           @Model.Line2<br>
            @Model.Line3
        </h4>
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            User este
        </a>
        <div class="mdl-layout-spacer"></div>
        <i class="material-icons">event</i>
    </div>
</div>
@*<td>@address.Line1</td>
<td>@address.Line2</td>
<td>@address.Line3</td>
<td>@address.City</td>
<td>@address.State</td>
<td>@address.Zip</td>
<td>@address.Country</td>*@
