@model Address
<div class="card">
    <div class="card-block">
        <h4 class="card-title">@Model.City</h4>
        <h6 class="card-subtitle mb-2 text-muted">@Model.Line1<span> @Model.Line3</span></h6>
        <p class="card-text">@Model.Line2</p>
        <a href="#" class="card-link">User este</a>
        <a href="#" class="card-link">Another link</a>
    </div>
</div>
@*<td>@address.Line1</td>
<td>@address.Line2</td>
<td>@address.Line3</td>
<td>@address.City</td>
<td>@address.State</td>
<td>@address.Zip</td>
<td>@address.Country</td>*@
