@model Address
<div class="card">
    <div class="card-block">
        <h4 class="card-title">@Model.Line1</h4>
        <h6 class="card-subtitle mb-2 text-muted">@Model.Line2</h6>
        <p class="card-text">@Model.Line3</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
    </div>
</div>
@*<td>@address.Line1</td>
<td>@address.Line2</td>
<td>@address.Line3</td>
<td>@address.City</td>
<td>@address.State</td>
<td>@address.Zip</td>
<td>@address.Country</td>*@
