@model AddressViewModel

<table class="table table-striped">
    <thead>
        <tr>
            <th>Rua</th>
            <th>Bairro</th>
            <th>Número</th>
            <th>Cidade</th>
            <th>Estado</th>
            <th>Cep</th>
            <th>País</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var address in Model.GetAddress)
        {
            <tr>
                <td>@address.Line1</td>
                <td>@address.Line2</td>
                <td>@address.Line3</td>
                <td>@address.City</td>
                <td>@address.State</td>
                <td>@address.Zip</td>
                <td>@address.Country</td>
                <td>
                    <form asp-action="Checkout" asp-controller="Order">
                        <button class="btn btn-danger" type="submit" asp-route-addressid="@address.AddressID">Usar Este</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>