@model StoreEP.Models.Produto

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Produto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomePD)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomePD)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CategoriaPD)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CategoriaPD)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PrecoPD)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PrecoPD)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DescricaoPD)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DescricaoPD)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LinkImagemPD)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LinkImagemPD)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fabricante)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fabricante)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ProdutoID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
