@model StoreEP.Models.Produto

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Produto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomePD)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomePD)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CategoriaPD)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CategoriaPD)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PrecoPD)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PrecoPD)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DescricaoPD)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DescricaoPD)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LinkImagemPD)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LinkImagemPD)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fabricante)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fabricante)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProdutoID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
