@model FinalizarPedidoViewModel
@{
    Layout = "_AdminLayout";
}
<style>
    tr {
        background-color: black;
        box-shadow: 0px 0px 6px black;
        color: #ffd600;
    }
</style>

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#carrinho">Carrinho</a></li>
    <li><a data-toggle="tab" href="#endereco">Endereço</a></li>
    <li><a data-toggle="tab" href="#pagamento">Pagamento</a></li>
</ul>
<div class="tab-content">
    <div id="carrinho" class="tab-pane fade in active text-center">
        <ul class="list-group">
            @foreach (var line in Model.Carrinho.Lines)
            {
                <li class="list-group-item">
                    <img src="@Model.Imagens.Where(i => i.ID == line.Produto.ID).Select(i => i.Link).FirstOrDefault()" height="50" alt="@Model.Imagens.Where(i => i.ID == line.Produto.ID).Select(i => i.Nome).FirstOrDefault()" />
                    <span><a asp-action="Detalhes" asp-controller="Produtos" asp-route-ID="@line.Produto.ID">@line.Produto.Nome</a></span>
                    <span>
                        Preço: @line.Produto.Preco.ToString("c")
                        Quantidade: @line.Quantidade
                    </span>
                </li>
            }
        </ul>
    </div>
    <div id="endereco" class="tab-pane fade">
        <div class="content-grid mdl-grid">
           <p>@Model.Enderecos.Where(e => e.Utilizado == Model.Enderecos.Max(en => en.Utilizado)).Select(e => e.Rua).FirstOrDefault()
            <span><a asp-action="Index" asp-controller="Endereco">escolher outro</a></span></p>
        </div>
        @*<a asp-action="Criar" asp-controller="Endereco" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored">
            <i class="material-icons">add</i>
        </a>*@
    </div>
    <div id="pagamento" class="tab-pane fade">
        <form asp-action="Finalizar" method="post">
            <div>
                <span class="mdl-chip mdl-chip--contact">
                    <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">T</span>
                    <span class="mdl-chip__text">@Model.Carrinho.ValorTotal().ToString("c")</span>
                </span>
            </div>
            <div>
                <span class="mdl-chip mdl-chip--deletable">
                    <span class="mdl-chip__text">Finalizar</span>
                    <button type="submit" class="mdl-chip__action">
                        <i class="material-icons" style="color: navy;">payment</i>
                    </button>
                </span>
            </div>
            <input asp-for="Pagamento.Valor" value="@Model.Carrinho.ValorTotal()" type="hidden" id="txt_valor" />
            <input asp-for="EnderecoId" value="@Model.EnderecoId" type="hidden"/>
        </form>
    </div>
</div>