@model FinalizarPedidoViewModel
@{
    Layout = "_AdminLayout";
}
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#carrinho">Carrinho</a></li>
    <li><a data-toggle="tab" href="#endereco">Endereço</a></li>
    <li><a data-toggle="tab" href="#pagamento">Pagamento</a></li>
</ul>
<div class="tab-content">
    <div id="carrinho" class="tab-pane fade in active text-center">
        <div class="content-grid mdl-grid text-center">
            <table class="table table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>Quantidade</th>
                        <th>Item</th>
                        <th class="text-right">Preço</th>
                        <th class="text-right">Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var line in Model.Carrinho.Lines)
                    {
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric">@line.Quantidade</td>
                            <td class="text-left"><a asp-action="Detalhes" asp-controller="Produtos" asp-route-ID="@line.Produto.ProdutoId">@line.Produto.Nome</a></td>
                            <td class="text-right">@line.Produto.Preco.ToString("c")</td>
                            <td class="text-right">@((line.Quantidade * line.Produto.Preco).ToString("c"))</td>
                            <td>
                                <form asp-controller="Pedido" asp-action="RemoverCarrinho" method="post">
                                    <input type="hidden" name="ID" value="@line.Produto.ProdutoId" />
                                    <button type="submit" class="mdl-button mdl-js-button mdl-button--icon">
                                        <i class="material-icons">remove_shopping_cart</i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3" class="text-right">Total:</td>
                        <td class="text-right">
                            @Model.Carrinho.ValorTotal().ToString("c")
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <a asp-action="List" asp-controller="Produtos" class="btn btn-primary">Continuar comprar</a>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div id="endereco" class="tab-pane fade">
        <div class="content-grid mdl-grid">
            @foreach (var endereco in Model.Enderecos)
            {
                @Html.Partial("CardAddress", endereco)
            }
        </div>
        <a asp-action="Criar" asp-controller="Endereco" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored">
            <i class="material-icons">add</i>
        </a>
    </div>
    <div id="pagamento" class="tab-pane fade">
        <form asp-action="Finalizar" method="post">
            <div>
                <span class="mdl-chip mdl-chip--contact">
                    <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">T</span>
                    <span class="mdl-chip__text">@Model.Carrinho.ValorTotal().ToString("c")</span>
                </span>
            </div>
            <div>
                <span class="mdl-chip mdl-chip--deletable">
                    <span class="mdl-chip__text">Finalizar</span>
                    <button type="submit" class="mdl-chip__action">
                        <i class="material-icons" style="color: navy;">payment</i>
                    </button>
                </span>
            </div>
            <input asp-for="@Model.Pagamento.Valor" value="@Model.Carrinho.ValorTotal()" class="mdl-textfield__input" type="hidden" id="txt_valor">
        </form>
    </div>
</div>