@model FinalizarPedidoViewModel
@{
    Layout = "_AdminLayout";
}
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#carrinho">Carrinho</a></li>
    <li><a data-toggle="tab" href="#endereco">Endereço</a></li>
    <li><a data-toggle="tab" href="#pagamento">Pagamento</a></li>
</ul>
<div class="tab-content">
    <div id="carrinho" class="tab-pane fade in active">
        <div class="content-grid mdl-grid">
            <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--4dp mdl-cell">
                <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric">Quantidade</th>
                        <th>Item</th>
                        <th class="text-right">Preço</th>
                        <th class="text-right">Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var line in Model.Carrinho.Lines)
                    {
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric">@line.Quantidade</td>
                            <td class="text-left">@line.Produto.NomePD</td>
                            <td class="text-right">@line.Produto.PrecoPD.ToString("c")</td>
                            <td class="text-right">@((line.Quantidade * line.Produto.PrecoPD).ToString("c"))</td>
                            <td>
                                <form asp-controller="Pedido" asp-action="RemoverCarrinho" method="post">
                                    <input type="hidden" name="ProdutoID" value="@line.Produto.ProdutoID" />
                                    <button type="submit" class="mdl-button mdl-js-button mdl-button--icon">
                                        <i class="material-icons">remove_shopping_cart</i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3" class="text-right">Total:</td>
                        <td class="text-right">
                            @Model.Carrinho.ValorTotal().ToString("c")
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <a asp-action="List" asp-controller="Produtos" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored mdl-color-text--white">Continuar comprar</a>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div id="endereco" class="tab-pane fade">
        <div class="content-grid mdl-grid">
            @foreach (var endereco in Model.Enderecos)
            {
                @Html.Partial("CardAddress", endereco)
            }
        </div>
        <a asp-action="Criar" asp-controller="Endereco" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored">
            <i class="material-icons">add</i>
        </a>
    </div>
    <div id="pagamento" class="tab-pane fade">
        <form asp-action="Finalizar" method="post">
            <div>
                <label asp-for="@Model.Pagamento.Valor"></label>
                <input asp-for="@Model.Pagamento.Valor" />
                <input id="endereco_id" type="hidden" asp-for="@Model.EnderecoID" />
            </div>
            <button id="btn_finalizar">Teste</button>
        </form>
    </div>
</div>