@model IEnumerable<Pedido>
@{
    ViewBag.Title = "Pedidos";
    Layout = "_Layout";
}
@if (Model == null)
{
    <div class="alert alert-success">
        <strong>Você não tem pedidos.</strong>
    </div>
    return;
}
else
{
    @foreach (Pedido pedido in Model)
    {
        <div class="col-4 col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    Endereço
                </div>
                <div class="panel-footer">
                    <b>Pedido Id: </b>@pedido.PedidoID<br>
                    <b>Rua: </b>@pedido.Endereco.Rua<br>
                    <b>Número: </b>@pedido.Endereco.Numero<br>
                    <b>Bairro: </b>@pedido.Endereco.Bairro<br>
                    <b>Cidade: </b>@pedido.Endereco.Cidade<br>
                    <b>Estado: </b>@pedido.Endereco.Estado<br>
                    <b>CEP: </b>@pedido.Endereco.CEP<br>
                </div>
            </div>
        </div>
        <div class="row thumbnail" style="margin: 10px;">
            <div class="table-responsive">
                <table class="table s">
                    <tr class="text-capitalize">
                        <th colspan="2"></th>
                        <th>Quantidade</th>
                        <th>Preço</th>
                        <th>Nome</th>
                        <th>Fabricante</th>
                        <th>Categoria</th>
                        <th>Total por Produto</th>
                        
                    </tr>
                    @foreach (var carrinho in pedido.Lines)
                    {
                        <tr>
                            <td colspan="2"></td>
                            <td>
                                @(carrinho.Quantidade)
                            </td>
                            <td>@carrinho.Produto?.Preco.ToString("c")</td>
                            <td>
                                <a asp-action="Detalhes"
                                   asp-controller="Produtos"
                                   asp-route-ID="@carrinho.Produto.ProdutoID">@carrinho.Produto.Nome</a>
                            </td>
                            <td>
                                <a asp-action="BuscarFabricante"
                                   asp-controller="Produtos"
                                   asp-route-fabricante="@carrinho.Produto.Fabricante">
                                    @carrinho.Produto?.Fabricante
                                </a>
                            </td>
                            <td>
                                <a asp-action="Listar"
                                   asp-controller="Produtos"
                                   asp-route-categoria="@carrinho.Produto.Categoria">
                                    @carrinho.Produto?.Categoria
                                </a>
                            </td>
                            <td>
                                @((carrinho.Quantidade * carrinho.Produto.Preco).ToString("c"))
                            </td>

                            
                        </tr>
                    }
                    <tfoot>
                        <tr>
                            <td colspan="6"></td>
                            <td class="text-center"><b>Total</b></td>
                            <td>@pedido.Pagamento.Valor.ToString("c")</td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    }
}
