@model IEnumerable<Pedido>
@{
    ViewBag.Title = "Pedidos";
    Layout = "_Layout";
}
@if (Model == null)
{
    <div class="alert alert-success">
        <strong>Você não tem pedidos.</strong>
    </div>
    return;
}
else
{
    @foreach (Pedido pedido in Model)
    {
        <div class="table-responsive">
            <table class="table table-hover table-bordered table-striped table-condensed">
                <tr>
                    <th>Pedido</th>
                    <th>Rua</th>
                    <th>Número</th>
                    <th>Bairro</th>
                    <th>Cidade</th>
                    <th>CEP</th>
                    <th>Status</th>
                    <th>Data da compra</th>
                </tr>
                <tr>
                    <td>@pedido.PedidoID</td>
                    <td>@pedido.Endereco.Rua</td>
                    <td>@pedido.Endereco.Numero</td>
                    <td>@pedido.Endereco.Bairro</td>
                    <td>@pedido.Endereco.Cidade</td>
                    <td>@pedido.Endereco.CEP</td>

                    @if (pedido.Enviado)
                    {
                        <td>Enviado</td>
                    }
                    else
                    {
                        <td>Não Enviado</td>
                    }
                    <td>@pedido.DataCompra</td>
                </tr>
                <tr>
                    <th colspan="5"></th>
                    <th>Nome</th>
                    <th>Preço</th>
                    <th>Categoria</th>
                </tr>
                @foreach (var carrinho in pedido.Lines)
                {
                    <tr>
                        <td colspan="5"></td>
                        <td>
                            <a asp-action="Detalhes"
                               asp-controller="Produtos"
                               asp-route-ID="@carrinho.Produto.ProdutoID">@carrinho.Produto.Nome</a>
                        </td>
                        <td>@carrinho.Produto?.Preco.ToString("c")</td>
                        <td>
                            <a asp-action="Listar"
                               asp-controller="Produtos"
                               asp-route-categoria="@carrinho.Produto.Categoria">
                                @carrinho.Produto?.Categoria
                            </a>
                        </td>
                    </tr>
                }
                <tfoot>
                    <tr class="success">
                        <td colspan="5"></td>
                        <td>Total</td>
                        <td>@pedido.Pagamento.Valor.ToString("c")</td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <hr />
    }
}
