@model Produto
<div class="card col-md-3 col-sm-6 col-xs-12 col-lg-3" style="margin: 0 0 20px 0;">
    <div class="col-12 cartao-produto border border-primary">
        <div class="card-block">
            <h5 class="card-title" style="height:10px; word-break: break-all;">@Model.Nome</h5>
            <a asp-action="Detalhes" asp-controller="Produtos" asp-route-ID="@Model.ProdutoID" class="btn-toolbar">
                <img class="card-img-top" src="@Model.Imagens.Where(i => i.ProdutoID == Model.ProdutoID).Select(i => i.Link).FirstOrDefault()" alt="@Model.Imagens.Where(i => i.ProdutoID == Model.ProdutoID).Select(i => i.Nome).FirstOrDefault()" />
            </a>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <a asp-action="Listar" asp-controller="Produtos" asp-route-categoria="@Model.Categoria">
                    @Model.Categoria
                </a>
            </li>
            <li class="list-group-item">
                <a asp-action="BuscarFabricante" asp-controller="Produtos" asp-route-fabricante="@Model.Fabricante">
                    @Model.Fabricante
                </a>
            </li>
            <li class="list-group-item text-right">
                <span class="text-left" style="left: 12px; position: absolute;">
                    @Model.Preco.ToString("c")
                </span>
                <a id="@Model.ProdutoID" data-toggle="modal" data-target="#myModal_@Model.ProdutoID" class="btn-success btn btn-sm">
                    Comprar
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- Modal -->
<div id="myModal_@Model.ProdutoID" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Produto adicionado ao carrinho.</h4>
            </div>
            <div class="modal-body">
                <p>@Model.Nome</p>
                <p>@Model.Preco.ToString("c")</p>
            </div>
            <div class="modal-footer">
                <a asp-controller="Pedido" asp-action="Finalizar" class="btn btn-xs btn-success">Finalizar compra</a>
                <button type="button" class="btn btn-xs btn-default" data-dismiss="modal">Continuar comprando</button>
            </div>
        </div>
    </div>
</div>
<script>

    $("#@Model.ProdutoID").click(function () {
        console.log($.active);
        if ($.active === 1){
            return;
        }
        $.ajax({
            url: '/Carrinho/Adicionar/',
            type: 'POST',
            data: { produtoID : $(this).attr('id')},
            dataType: 'html',
            success: function (data) {
                $(".badge").text(data);
            }
        });
    });
</script>


