@model Endereco
<style>
    .card {
        box-shadow: 0px 0px 2px #8f8f8f;
        padding: 10px;
        margin: 10px;
    }
</style>
<div class="card col col-sm-4">
    <div class="card-body">
        <div class="card-header">
            @Model.Estado<br>
        </div>
        <h6>
            @Model.Rua,
            @Model.Numero<br>
            @Model.Bairro<br>
            @Model.Cidade<br>
        </h6>
    </div>
    <div>
        <a asp-action="Utilizar" asp-controller="Endereco" style="float:right; margin: 0 4px 0 4px;" asp-route-EnderecoId="@Model.EnderecoID">
            <span class="glyphicon glyphicon-send"></span>
        </a>
        <a asp-action="Apagar" asp-controller="Endereco" style="float:right; margin: 0 4px 0 4px;" asp-route-EnderecoId="@Model.EnderecoID">
            <span class="glyphicon glyphicon-trash"></span>
        </a>
    </div>
</div>