@model Produto
<div class="card col-md-3 col-sm-6 col-xs-12 col-lg-3" style="margin: 0 0 20px 0;">
    <div class="col-12 cartao-produto border border-primary">
        <div class="card-block">
            <h5 class="card-title" style="height:10px; word-break: break-all;">@Model.Nome</h5>
            <a asp-action="Detalhes" asp-controller="Produtos" asp-route-ID="@Model.ProdutoID" class="btn-toolbar">
                <img class="card-img-top" src="@Model.Imagens.Where(i => i.ProdutoID == Model.ProdutoID).Select(i => i.Link).FirstOrDefault()" alt="@Model.Imagens.Where(i => i.ProdutoID == Model.ProdutoID).Select(i => i.Nome).FirstOrDefault()" />
            </a>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <a asp-action="Listar" asp-controller="Produtos" asp-route-category="@Model.Categoria">
                    @Model.Categoria
                </a>
            </li>
            <li class="list-group-item">
                <a asp-action="BuscarFabricante" asp-controller="Produtos" asp-route-fabricante="@Model.Fabricante">
                    @Model.Fabricante
                </a>
            </li>
            <li class="list-group-item text-right">
                <span class="text-left" style="left: 12px; position: absolute;">
                    @Model.Preco.ToString("c")
                </span>
                @*<a asp-action="Adicionar" asp-controller="Carrinho" asp-route-produtoID="@Model.ProdutoID" class="btn-success btn btn-sm">
                        Comprar
                    </a>*@
                <button id="btn_ajax_@Model.ProdutoID" class="btn-success btn btn-sm" type="submit">
                    Comprar
                </button>
                <input id="txt_@Model.ProdutoID" asp-for="ProdutoID" type="hidden" value="@Model.ProdutoID" />
            </li>
        </ul>
    </div>
</div>

<script>
    $("#btn_ajax_@Model.ProdutoID").click(function () {
        var produtoID = $("#txt_@Model.ProdutoID").serialize();
            $.ajax({
                url: '/Carrinho/Adicionara/',
                type: 'POST',
                data: produtoID,
                dataType: 'html',
                success: function (data) {
                    $(".badge").text(data);
                }
            });
        });
</script>


