<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] StoreEP</title>
    <base href="~/" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-theme.min.css" />
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
    <script asp-src-include="~/lib/gsap/src/minified/*.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="~/lib/chart.js/dist/Chart.bundle.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery.maskedinput/dist/jquery.maskedinput.min.js"></script>
    <script type="text/javascript" src="~/lib/jssor-slider/js/jssor.slider.min.js"></script>
    <script type="text/javascript" src="~/lib/angularjs/angular.min.js"></script>
    <script type="text/javascript" src="~/lib/angularjs/angular.min.js"></script>
    <script type="text/javascript" src="~/lib/angular-ui-mask/dist/mask.min.js"></script>   
    @RenderSection("styles", required: false)
    <style>
        body {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .navbar {
            margin-bottom: 20px;
        }

        .row {
            margin: 0;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Loja</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.IsInRole("Administrador"))
                    {
                        <li class="active"><a asp-controller="Admin" asp-action="Index">Gerenciar</a></li>
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>@await Html.PartialAsync("_BuscaPartial", new BuscaViewModel())</li>
                    <li style="margin: 12px;">@await Component.InvokeAsync("NavigationMenu")</li>
                    <li style="margin: 12px;">@await Html.PartialAsync("_OrdemPartial", new OrdemViewModel())</li>
                    <li>@await Html.PartialAsync("_LoginPartial")</li>
                    <li>@await Component.InvokeAsync("CartSummary")</li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="panel">
        @if (TempData["busca_nula"] != null)
            {
            <div class="alert alert-success">
                <strong>@TempData["busca_nula"]</strong>
            </div>
        }
        @RenderBody()
        @RenderSection("scripts", required: false)
    </div>
    <footer class="fixed-bottom" >
        <div class="container">
            <p class="text-muted">StoreEP @DateTime.Now.Year</p>
        </div>
    </footer>
</body>
</html>
