<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StoreEP</title>
    <base href="~/" />
    <link rel="stylesheet" href="~/css/index.css" />
    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
    <link rel="stylesheet" asp-href-include="/css/index.css" />
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap-combobox/js/bootstrap-combobox.js"></script>
    <script type="text/javascript" src="~/lib/jquery.maskedinput/dist/jquery.maskedinput.min.js"></script>
    <script type="text/javascript" src="~/lib/greensock/src/minified/jquery.gsap.min.js"></script>
    <script type="text/javascript" src="~/lib/greensock/src/minified/TimelineMax.min.js"></script>
    <script type="text/javascript" src="~/lib/greensock/src/minified/TweenMax.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="~/js/site.js"></script>
    <script type="text/javascript" src="~/lib/chart.js/dist/Chart.min.js"></script>
    <script type="text/javascript" src="~/lib/chart.js/dist/Chart.bundle.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <style>
        body {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .navbar {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Loja</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.IsInRole("Administrador"))
                    {
                        <li class="active"><a asp-controller="Admin" asp-action="Index">Gerenciar</a></li>
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>@await Html.PartialAsync("_BuscaPartial", new BuscaViewModel())</li>
                    <li>@await Html.PartialAsync("_LoginPartial")</li>
                    <li>@await Component.InvokeAsync("CartSummary")</li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="panel">
        <div class="row">
            <div class="col-sm-2">
                <hr />
                @await Component.InvokeAsync("NavigationMenu")
                <hr />
                @await Html.PartialAsync("_OrdemPartial", new OrdemViewModel())
                
            </div>
            <div class="col-sm-10">
                @if (TempData["busca_nula"] != null)
                {
                    <div class="alert alert-success">
                        <strong>@TempData["busca_nula"]</strong>
                    </div>
                }
                @RenderBody()
                @RenderSection("scripts", required: false)
            </div>
        </div>
        
    </div>
    <footer class="footer bottom">
        <div class="container">
            <p class="text-muted">StoreEP @DateTime.Now.Year</p>
        </div>
    </footer>
</body>
</html>
