@model Endereco
<div class="demo-card-event mdl-card mdl-shadow--4dp mdl-cell" style="margin:10px">
    <div class="mdl-card__title mdl-card--expand">
        <h6>
            @Model.Rua
            @Model.Numero<br>
            @Model.Bairro<br>
            @Model.Cidade<br>
            @Model.Estado<br>
        </h6>
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <a asp-action="Utilizar" asp-controller="Endereco" class="mdl-button mdl-js-button mdl-button--icon" style="float:right" asp-route-EnderecoId="@Model.ID">
            <span class="glyphicon glyphicon-send"></span>
        </a>
        <a asp-action="Apagar" asp-controller="Endereco" class="mdl-button mdl-js-button mdl-button--icon" style="float:right" asp-route-EnderecoId="@Model.ID">
            <span class="glyphicon glyphicon-trash"></span>
        </a>
    </div>
</div>
