@using StoreEP.Models.ViewModels
@using StoreEP.Models
@model ProductsListViewModel
@{
    ViewData["Title"] = "Index";
}
<style>
    .cartao-produto {
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.48);
        border-radius: 4px;
        padding: 14px;
    }

    img {
        width: 100%;
        height: 100%;
        padding: 10px;
    }

    a {
        text-decoration: none;
    }

    .mdl-cell {
        background-color: #1a1a1a;
    }

        .mdl-cell:hover {
            border: 1px solid yellow;
        }

    .mdl-card__supporting-text {
        color: white;
    }

    .material-icons, .mdl-card__title-text {
        color: #fbb813;
    }

    .row {
        margin-right: 0;
        margin-left: 0;
    }
</style>
@if (ViewData["filtro.Nome"] != null)
{
    @if (Model.Produtos.Count() < 1)
    {
        <div class="alert alert-danger">
            <strong>Nenhum resuldo encontrado.</strong>
        </div>
    }
    else
    {
        <div class="alert alert-success">
            <strong>@ViewData["filtro.Nome"]</strong>
        </div>
    }
}
<div class="row">
    @foreach (var p in Model.Produtos)
    {
        <div class="card col-3 col-md-3">
            <div class="col-12 cartao-produto border border-primary">
                <a asp-action="Detalhes" asp-controller="Produtos" asp-route-produtoid="@p.ProdutoId" class="btn-toolbar">
                    <img class="card-img-top" src="@p.Imagens.Select(i => i.Link).FirstOrDefault()" alt="@p.Imagens.Select(i => i.Nome).FirstOrDefault()" />
                </a>
                <div class="card-block">
                    <h4 class="card-title">@p.Nome</h4>
                    <p class="card-text">@p.Descricao</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a asp-action="Listar" asp-controller="Produtos" asp-route-category="@p.Categoria">
                            @p.Categoria
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a asp-action="BuscarFabricante" asp-controller="Produtos" asp-route-fabricante="@p.Fabricante">
                            @p.Fabricante
                        </a>
                    </li>
                    <li class="list-group-item">@p.Preco.ToString("c")</li>
                </ul>
                <div class="card-block">
                    <a asp-action="AdicionarCarrinho" asp-controller="Carrinho" asp-route-produtoid="@p.ProdutoId" class="card-link">Adicionar ao carrinho</a>
                </div>
            </div>
        </div>
    }
</div>
<select combobox-categorias-model="@Model.Categorias"></select>
<div class="row text-center" page-model="@Model.PagingInfo" page-action="Listar" page-classes-enabled="true" page-class="btn" page-class-normal="btn-default" page-class-selected="btn-primary" page-url-cartegory="@Model.CurrentCategory"></div>