@model IEnumerable<Endereco>
@{
    ViewBag.Title = "Lista de Endereços";
    Layout = "_Layout";
    DateTime enderecoUtilizado = DateTime.Now;
    if (Model.Count() > 0)
    {
        enderecoUtilizado = Model.Select(e => e.DataUtilizacao).Max();
    }
}
<style>
    .card {
        box-shadow: 0px 0px 2px #8f8f8f;
        padding: 10px;
        margin: 10px;
    }
</style>
<div class="container">
    @if (TempData["endereco"] != null)
    {
        <div class="alert alert-success">
            <strong>@TempData["endereco"]</strong>
        </div>
    }
    <div class="row">
        @foreach (var endereco in Model)
        {
            <div class="card col col-sm-3"
                 style="@(endereco.DataUtilizacao == enderecoUtilizado ? "box-shadow: 1px 1px 4px #006555, 1px 1px 4px #14673a;" : "box-shadow: 0px 0px 2px #8f8f8f;") ">
                <div class="card-body">
                    <div class="card-header">
                        @endereco.Estado<br>
                    </div>
                    <h5 id="h5_@endereco.EnderecoID">
                        @endereco.Rua,
                        @endereco.Numero<br>
                        @endereco.Bairro<br>
                        @endereco.Cidade<br>
                        @endereco.CEP<br>
                    </h5>
                </div>
                <div>
                    <a asp-action="Utilizar"
                       asp-controller="Endereco"
                       asp-route-enderecoId="@endereco.EnderecoID"
                       style="right:10px; margin: 4px;"
                       title="Usar este endereço">
                        <span class="glyphicon glyphicon-send"></span>
                    </a>
                    <a asp-action="Apagar"
                       asp-controller="Endereco"
                       asp-route-enderecoId="@endereco.EnderecoID"
                       style="right:10px; margin: 4px;"
                       title="Apagar endereço">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                    <a id="@endereco.EnderecoID"
                       style="right:10px; margin: 4px;"
                       class="editar"
                       title="Editar endereço">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                </div>
            </div>
        }
    </div>
    <div class="text-center">
        <a id="btn_criar" class="btn btn-default btn-xs btn-success">Criar novo</a>
        <a asp-controller="Pedido" asp-action="Finalizar" class="btn btn-default btn-xs btn-primary">Finalizar pedido</a>
    </div>
</div>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Endereço</h4>
            </div>
            <div class="modal-body">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="col-form-label">CEP</label>
                        <input id="CEP" class="form-control" type="text">
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-form-label">Pais</label>
                        <input id="Pais" class="form-control" type="text">
                    </div>
                </div>
                <div class="form-row">
                    <input id="EnderecoID" type="hidden" />
                    <input id="UserID" type="hidden" />
                    <div class="form-group col-md-12">
                        <div class="form-group">
                            <label class="col-form-label">Rua</label>
                            <input id="Rua" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="form-group">
                            <label class="col-form-label">Bairro</label>
                            <input id="Bairro" type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label class="col-form-label">Número</label>
                        <input id="Numero" type="text" class="form-control">
                    </div>
                    <div class="form-group col-md-8">
                        <label class="col-form-label">Complemento</label>
                        <input id="Complemento" class="form-control" type="text">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="col-form-label">Cidade</label>
                        <input id="Cidade" class="form-control" type="text">
                        <button id="btn_endereco" class="btn btn-sm btn-success" style="margin:10px 0 10px 0">Editar Endereço</button>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Estado</label>
                        <input id="Estado" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        var opcaoEndereco = 1;
        function atualizarEndereco(endereco) {
            let cartaoEnderecoExiste = $("#h5_" + endereco.EnderecoID).length != 0;
            if (cartaoEnderecoExiste) {
                $("#h5_" + endereco.EnderecoID).html(
                    endereco.Rua + ', ' +
                    endereco.Numero + '<br>' +
                    endereco.Bairro + '<br>' +
                    endereco.Cidade + '<br>' +
                    endereco.CEP + '<br>'
                );
            } else {
                location.reload();
            }
        }
        function tratarExcecao(xhr) {
            var excecao = JSON.parse(xhr.responseText);
            alert("Erro ocorrido: " + excecao.ExceptionMessage);
        }
        function post(url, data) {
            return $.ajax({
                url: url,
                method: "POST",
                cache: false,
                data: data,
                success: function (data) {
                    preencheForm(data);
                    let action = url.substring(10, 11);
                    $("#myModal").modal(action == "E" ? 'hide' : null);
                },
                error: function (xhr) {
                    tratarExcecao(xhr);
                }
            });
        }
        function preencheForm(data) {
            $("#EnderecoID").val(data.enderecoID);
            $("#Rua").val(data.rua);
            $("#Bairro").val(data.bairro);
            $("#Cidade").val(data.cidade);
            $("#Estado").val(data.estado);
            $("#Numero").val(data.numero);
            $("#CEP").val(data.cep);
            $("#Complemento").val(data.complemento);
            $("#Pais").val(data.pais);
            $("#UserID").val(data.userId);
            var endereco = {
                Rua: $("#Rua").val(),
                Bairro: $("#Bairro").val(),
                Cidade: $("#Cidade").val(),
                Estado: $("#Estado").val(),
                Numero: $("#Numero").val(),
                Pais: $("#Pais").val(),
                CEP: $("#CEP").val(),
                EnderecoID: $("#EnderecoID").val(),
                UserId: $("#UserID").val()
            };
            atualizarEndereco(endereco);
        }
        $("#btn_criar").click(function () {
            opcaoEndereco = 0;
            $("#myModal").modal();
            limparFormulario();
            $("#btn_endereco").html("Criar endereço");
        });
        $("#btn_endereco").click(function () {
            $("#btn_endereco").html("Editar endereço");
            var endereco = {
                Rua: $("#Rua").val(),
                Bairro: $("#Bairro").val(),
                Cidade: $("#Cidade").val(),
                Estado: $("#Estado").val(),
                Numero: $("#Numero").val(),
                Pais: $("#Pais").val(),
                CEP: $("#CEP").val(),
                EnderecoID: $("#EnderecoID").val(),
                UserId: $("#UserID").val()
            };
            if ($.active != 0) {
                return;
            }
            if (opcaoEndereco === 0) {
                opcaoEndereco = 1;
                endereco.EnderecoID = 0;
                post("/Endereco/Criar", endereco);
            } else {
                post("/Endereco/Editar", endereco);
            }

        });
        $(".editar").click(function () {
            if ($.active != 0) {
                return;
            }
            var enderecoID = { model: parseInt($(this).prop("id")) };
            post("/Endereco/GetEndereco", enderecoID)
        });
        function limparFormulario() {
            $("#Rua").val("");
            $("#Bairro").val("");
            $("#Cidade").val("");
            $("#Estado").val("");
            $("#Numero").val("");
            $("#Pais").val("");
            $("#CEP").val("");
            $("#EnderecoID").val("");
            $("#UserID").val("");
        }
        $("#CEP").mask("99999-999");
        $("#CEP").blur(function () {
            var cep = $(this).val().replace(/\D/g, '');
            if (cep != "") {
                var validacep = /^[0-9]{8}$/;
                if (validacep.test(cep)) {
                    $("#Rua").val("...");
                    $("#Bairro").val("...");
                    $("#Cidade").val("...");
                    $("#Estado").val("...");
                    $.getJSON("//viacep.com.br/ws/" + cep + "/json/?callback=?", function (dados) {

                        if (!("erro" in dados)) {
                            $("#Rua").val(dados.logradouro);
                            $("#Bairro").val(dados.bairro);
                            $("#Cidade").val(dados.localidade);
                            $("#Estado").val(dados.uf);
                        }
                        else {
                            limparFormulario();
                            alert("CEP não encontrado.");
                        }
                    });
                }
                else {
                    limparFormulario();
                    alert("Formato de CEP inválido.");
                }
            }
            else {
                limparFormulario();
            }
        });
    </script>
}
